.wy-nav-content {
   max-width: 1024px;
}

.rst-content code {
  color: #080;
}

.rst-content .section ul li>* {
  margin-top: 0;
}

.rst-content .section ul li>ul {
  margin-bottom: 0;
}

.hljs-comment, .hljs-quote
{
  color: #080;
  font-style: normal;
}
