.wy-nav-content {
   max-width: 1024px;
}

.rst-content blockquote {
  /* color: #080; */
  padding-left: 10px;
  border-left: 4px solid #e6e6e6;
}

.rst-content code {
  color: #080;
}

.rst-content .section ul li>* {
  margin-top: 0;
}

.rst-content .section ul li>ul {
  margin-bottom: 0;
}

.hljs-comment, .hljs-quote
{
  color: #080;
  font-style: normal;
}
